@mixin blog-type-link {
	border: 1px solid black;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffc04c;
    border-radius: 20px;
    text-align: center;
    padding: 4PX 14PX;
    color: black;
    text-decoration: none;
}

%blog-image-styling {

	border-radius: 20px;
	width: 95%;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
} 

.blog-type {
	
	@include blog-type-link();
}

.blog-image {
	@extend %blog-image-styling;
}

%description-styling {
	line-height: 2;
	letter-spacing: 1px;
	margin-top:0;
	text-align: justify;
}

.about-me-description {
	@extend %description-styling;
}

.ruby-class p {
	@extend %description-styling;
	margin: 10px;
}

.time-management p {
	@extend %description-styling;
	margin: 10px;
}

.education {
	display: flex;
	/*justify-content: center;*/
	/*text-align: center;*/
	border: 2px solid red;
	width: 90%;
	margin: 0 auto;
}
.tab-tables, .tabs, .tables {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.tabs {
	overflow:hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1

}

.tabs button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
}