@mixin blog-type-link {
	border: 1px solid black;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffc04c;
    border-radius: 20px;
    text-align: center;
    padding: 4PX 14PX;
    color: black;
    text-decoration: none;
}

%blog-image-styling {

	border-radius: 20px;
	width: 95%;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
} 

.blog-type {
	
	@include blog-type-link();
}

.blog-image {
	@extend %blog-image-styling;
}

%description-styling {
	line-height: 2;
	letter-spacing: 1px;
	margin-top:0;
	text-align: justify;
}

.about-me-description {
	@extend %description-styling;
}

.ruby-class p {
	@extend %description-styling;
	margin: 10px;
}

.time-management p {
	@extend %description-styling;
	margin: 10px;
}

.career {
	display: flex;
	/*justify-content: center;*/
	/*text-align: center;*/
	/*border: 2px solid red;*/
	width: 90%;
	height: 450px;
	margin: 0 auto;
	padding-bottom: 15px;
}



 .tables {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 545px;
}

.tab-tables {
	display: flex;
	flex-direction: column;
	width: 545px;
	border: 1px solid blue;
	background-color:#FFc04c;
}


.tabs {
	display: flex;
	justify-content: space-around;
	border: 1px solid green;
}
/*****************************************/
.tables {
	border: 1px solid black;
}
/*******************************************/
 .tabs a{
	color: red;
}

.tabs a:hover {
	color: #FFc04c;
}

.tab :active {
	/*background-color: #ccc;*/
}
.work-table table  {
	border-collapse: collapse;
	border: 2px solid #FFc04c;
	letter-spacing: 1px;
	font-size:0.8rem;
	width: 95%;
	/*position: absolute;*/
	top: 0px;
	display: none;
	/*display: none;*/
}

.education-table table {
	/*position: absolute;*/
	border-collapse: collapse;
	border: 2px solid #FFc04c;
	letter-spacing: 1px;
	font-size:0.8rem;
	/*display: none;*/
}


td, th {
	border: 1px solid #FFc04c;
	padding: 2px 2px;
}

th {
	background-color: rbg(235,235,235);
}

.career-heading {
	display: flex;
	justify-content: center;
}